My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "7b83459d-3f13-4f69-815e-025c8765d024",
      "name": "When chat message received",
      "webhookId": "5de5410e-372b-4045-8b54-afd61b6a6628"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "2fde0f14-28f9-4f3d-b5fe-f0ae320e9ca8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "50c34ecf-0a57-41d7-84d2-58e10d9a3c82",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gOXRqG6nGDVJZQd4",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "message": "=AGENTE: {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        560,
        0
      ],
      "id": "fca22dc1-dbe1-412e-942a-e94b82fdf167",
      "name": "Chat",
      "webhookId": "7b733437-ac38-42a0-a228-5694bdab4395"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jaimeyesidsepulveda@gmail.com",
          "mode": "list",
          "cachedResultName": "jaimeyesidsepulveda@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        128
      ],
      "id": "26b5a80d-5918-49df-ba4c-b49c838e9195",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "h3zKglrIHx3MM7QO",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "c76598e7-d54e-426b-aa21-18d9e41d45a7",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "33506db7-a255-401f-aa0e-dda5e242958b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60c77ce92a37a6c8177448bc66a65468a2cc86890111ee12b465de24574aab41"
  },
  "nodeGroups": [],
  "id": "hsfwLDmDnwK0D8un",
  "tags": []
}